<nav>
    <div class="logo">AWWARDS</div>
  
    <div class="navbar">
      <ul class="nav-menu">
        <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
       
        {% if user.is_authenticated %}
        <li class="nav-item"><a href="{% url 'profile' user.id  %}" class="nav-link">Profile
        <i class="fa fa-user-circle"></i>
      </a></li>
      <li class="nav-item"><a href="/" class="nav-link">Update Profile
        <i class="fa fa-user-circle"></i>
      </a></li>
      <li class="nav-item"><a href="/logout" id="signout" class="nav-link">Sign Out
        <i class="fa fa-sign-out"></i>
      </a></li>
    
    {% else %}
    
      <a class='btn btn-default' href="/accounts/login">Login</a>
    

    {% endif %}
      </ul>
    </div>
  
    <div class="hamburger">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>
    
  </nav>
  <script>
const hamburger = document.querySelector(".hamburger");
const navMenu = document.querySelector(".nav-menu");

hamburger.addEventListener("click", () => {
  hamburger.classList.toggle("active");
  navMenu.classList.toggle("active");
});

document.querySelectorAll(".nav-link").forEach((link) =>
  link.addEventListener("click", () => {
    hamburger.classList.remove("active");
    navMenu.classList.remove("active");
  })
);

  </script>