<nav>
    <div class="logo">AWWARDS</div>
    <form method="get" action="/search">
      <div class="navigation-search-container">
        <i style="color: white;" class="fa fa-search"></i>
        <input name="search" class="search-field" type="text" placeholder="Search Projects  ">
        <div class="search-container">
          <div class="search-container-box">
            <div class="search-results">
    
            </div>
          </div>
        </div>
      </div>
      </form>
  
    <div class="navbar" style="margin-top: 3rem;">
      <ul class="nav-menu">
        <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
       
        {% if user.is_authenticated %}
        <li class="nav-item"><a href="{% url 'profile' user.id  %}" class="nav-link">Profile
        <i class="fa fa-user-circle"></i>
      </a></li>
      <li class="nav-item"><a href="{% url 'update_profile' user.id  %}" class="nav-link">Update Profile
        <i class="fa fa-user-circle"></i>
      </a></li>
      <li class="nav-item"><a href="/logout" id="signout" class="nav-link">Sign Out
        <i class="fa fa-sign-out"></i>
      </a></li>
    
    {% else %}
    
      <a class='btn btn-default' href="/accounts/login">Login</a>
    

    {% endif %}
      </ul>
    </div>
  
    <div class="hamburger">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>
    
  </nav>
  <script>
const hamburger = document.querySelector(".hamburger");
const navMenu = document.querySelector(".nav-menu");

hamburger.addEventListener("click", () => {
  hamburger.classList.toggle("active");
  navMenu.classList.toggle("active");
});

document.querySelectorAll(".nav-link").forEach((link) =>
  link.addEventListener("click", () => {
    hamburger.classList.remove("active");
    navMenu.classList.remove("active");
  })
);

  </script>